In [23]:
import pandas as pd
import numpy as np
import requests
import json

In [2]:
raw = pd.read_csv("afss_agg.csv")

In [3]:
raw.describe(include = 'all')

,eventdate,user,AppName,requestsize,request_gbs,responsesize,response_gbs
count,219410,219410,219410,2.194100e+05,219410.000000,2.194100e+05,219410.000000
unique,1,35912,84,NaN,NaN,NaN,NaN
top,00:00.0,VeloCloud_SDWAN_Fabric->VeloCloud_SDWAN_Fabric...,General Browsing,NaN,NaN,NaN,NaN
freq,219410,44,35903,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,3.816342e+07,0.027980,1.178340e+08,0.068233
std,NaN,NaN,NaN,3.292449e+09,3.061018,5.351067e+09,4.976848
min,NaN,NaN,NaN,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,NaN,NaN,NaN,1.484000e+04,0.000000,4.336275e+04,0.000000
50%,NaN,NaN,NaN,3.127530e+05,0.000000,1.023204e+06,0.000000
75%,NaN,NaN,NaN,2.601934e+06,0.000000,3.471679e+07,0.000000
max,NaN,NaN,NaN,1.022980e+12,952.000000,1.879430e+12,1750.000000

In [4]:
raw.columns

Index(['eventdate', 'user', 'AppName', 'requestsize', 'request_gbs',
       'responsesize', 'response_gbs'],
      dtype='object')

In [5]:
raw.isnull().sum().sum()

0

In [6]:
set_of_apps = set(raw['AppName'])

In [7]:
set_of_apps

{'500px',
 'ActiveCollab',
 'Adobe Acrobat Connect',
 'Amazon Chime',
 'Amazon Cloud Drive',
 'Asana',
 'Backblaze Cloud',
 'Baidu Cloud',
 'BlueJeans',
 'Box',
 'Casimages',
 'Circuit',
 'ConceptBoard',
 'Dochub',
 'Dropbox',
 'Dropsend',
 'Eclipse',
 'Filemail',
 'GIFCreator',
 'General Browsing',
 'Getharvest',
 'GigaFile',
 'GoToMeeting',
 'GoToWebinar',
 'Google Calendar',
 'Google Drive',
 'Google Jamboard',
 'Google Keep',
 'Google Meet',
 'Google Photos',
 'Google Sites',
 'Grosfichiers',
 'HighTail',
 'HootSuite',
 'IBB',
 'IDrive',
 'ImageShack',
 'Jive Software',
 'Livestorm',
 'LogMeIn',
 'Lumin PDF',
 'Microsoft Forms',
 'Microsoft Sway',
 'Microsoft Teams',
 'Mightynetworks',
 'Monday.com',
 'MyAirBridge',
 'Naver Cloud',
 'Nulab',
 'OneDrive',
 'OneDrive (Personal)',
 'OneDriveForBusiness',
 'PhotoShelter',
 'PicDrop',
 'Rescueassist',
 'RingCentral',
 'SHAREit',
 'Screencast',
 'Screenleap',
 'Sharefile',
 'Sharepoint',
 'Sharepoint Online',
 'Skype',
 'Slack',
 'Smartsheet',
 'SmugMug',
 'Subefotos',
 'Symphony',
 'Syncplicity',
 'Synology Quickconnect',
 'Tencent Weiyun',
 'Trello',
 'Uploaded',
 'WeChat Work',
 'WebEx',
 'Webcasts',
 'Wetransfer',
 'Wrike',
 'Yammer',
 'Yandex Disk',
 'Zalo App',
 'Ziggeo',
 'Zoom',
 'iCloud'}

In [8]:
raw['eventdate'] = pd.to_datetime(raw['eventdate'])

In [9]:
lob_df = pd.read_excel('lob_map.xlsx', sheet_name='LOB Map')

In [10]:
lob_df

,last,first,mail,proxy_addresses,path,title,department,samaccountname,employeetype,country,short_country,country_code,whencreated,firstlast,net,exec,st,manager
0,Donahoe,John,john.donahoe44@nike.com,"['John.Donahoe44@nike.com', 'J.Donahoe1@nike.c...",['john.donahoe44@nike.com'],PRESIDENT AND CEO,Glbl Admin - CEO,jdon20,Employee,United States,US,840.0,2019-10-23 18:30:02+00:00,John Donahoe,NaN,NaN,NaN,NaN
1,Harris,Melanie,melanie.harris@nike.com,"['MHar93@nike.mail.onmicrosoft.com', 'Melanie....","['melanie.harris@nike.com', 'john.donahoe44@ni...","VP, Strategy & Development",Global Strategy Adm,mhar93,Employee,United States,US,840.0,2019-04-30 13:03:36+00:00,Melanie Harris,melanie.harris@nike.com,NaN,NaN,john.donahoe44@nike.com
2,Tau,Marcelo,marcelo.tau@nike.com,"['MTau@nike.mail.onmicrosoft.com', 'Marcelo.Ta...","['marcelo.tau@nike.com', 'melanie.harris@nike....","C19: VP, GOT STRATEGY",Global Strategy 098,mtau,Employee,United States,US,840.0,2021-01-08 03:30:04+00:00,Marcelo Tau,melanie.harris@nike.com,marcelo.tau@nike.com,NaN,melanie.harris@nike.com
3,Hoyer,Collin,collin.hoyer@nike.com,"['CHoyer@nike.mail.onmicrosoft.com', 'Collin.H...","['collin.hoyer@nike.com', 'marcelo.tau@nike.co...","C19: DIR, GSM STRATEGY",GOT Strategy,choyer,Employee,United States,US,840.0,2021-09-01 06:50:58+00:00,Collin Hoyer,melanie.harris@nike.com,marcelo.tau@nike.com,collin.hoyer@nike.com,marcelo.tau@nike.com
4,Avey,Whitney,whitney.avey@nike.com,"['WAvey@nike.mail.onmicrosoft.com', 'Whitney.A...","['whitney.avey@nike.com', 'marcelo.tau@nike.co...",C19: SR ADMIN ASST,GMI NYC,wavey,Employee,United States,US,840.0,2021-06-08 23:10:47+00:00,Whitney Avey,melanie.harris@nike.com,marcelo.tau@nike.com,whitney.avey@nike.com,marcelo.tau@nike.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102741,Tsuruda,Emily,emily.tsuruda@nike.com,"['ETsuru@nike.mail.onmicrosoft.com', 'Emily.Ts...","['emily.tsuruda@nike.com', 'karl.gillies@nike....","MGR, GLOBAL - CATALYST OPS",Global Influncer Mkt,etsuru,Employee,United States,US,840.0,2018-10-04 17:08:42+00:00,Emily Tsuruda,dirk-jan.hameren@nike.com,liz.weldon@nike.com,karl.gillies@nike.com,karl.gillies@nike.com
102742,Green,Corey,corey.green@nike.com,"['CGRE14@nike.mail.onmicrosoft.com', 'Corey.Gr...","['corey.green@nike.com', 'karl.gillies@nike.co...","DIR,GLOBAL - CATALYST MARKETING OPS",Global Influncer Mkt,cgre14,Employee,United States,US,840.0,2014-01-03 06:17:15+00:00,Corey Green,dirk-jan.hameren@nike.com,liz.weldon@nike.com,karl.gillies@nike.com,karl.gillies@nike.com
102743,Mai-Lotti,Linda,linda.mai-lotti@nike.com,"['lmai@nike.mail.onmicrosoft.com', 'Linda.Mai-...","['linda.mai-lotti@nike.com', 'liz.weldon@nike....","SR DIR, GLOBAL - CATALYST MKTG",Global Influncer Mkt,lmai,Employee,United States,US,840.0,2002-08-10 03:38:51+00:00,Linda Mai-Lotti,dirk-jan.hameren@nike.com,liz.weldon@nike.com,linda.mai-lotti@nike.com,liz.weldon@nike.com
102744,Roach,Kristin,kristin.roach@nike.com,"['KRoac1@nike.mail.onmicrosoft.com', 'Kristin....","['kristin.roach@nike.com', 'dirk-jan.hameren@n...",SR ADMINISTRATIVE ASSISTANT,Brand Mgmt Mens,kroac1,Employee,United States,US,840.0,2016-09-20 21:48:11+00:00,Kristin Roach,dirk-jan.hameren@nike.com,NaN,NaN,dirk-jan.hameren@nike.com
102745,Hatfield,Tinker,tinker.hatfield@nike.com,"['thatf1@nike.mail.onmicrosoft.com', 'Tinker.H...","['tinker.hatfield@nike.com', 'john.donahoe44@n...","VP, CREATIVE CONCEPTS",NXT Space TH,thatf1,Employee,United States,US,840.0,2002-08-10 03:38:50+00:00,Tinker Hatfield,tinker.hatfield@nike.com,NaN,NaN,john.donahoe44@nike.com

In [16]:
tech_df.head()

,Technology Team,ST,Email,Subdivision,First Found,Last Found,Notes
0,Technology Operations,Terry Radenbaugh,terry.radenbaugh@nike.com,NaN,2021-10-01,Current,Interim
1,Technology Operations,Terry Radenbaugh,p.trade1@nike.com,NaN,2021-10-01,Current,Interim
2,Technology Operations,Betsy Utley,betsy.utley@nike.com,NaN,2021-10-01,Current,Interim
3,Technology Operations,Matthew Weaver,p.mweave@nike.com,NaN,2021-10-01,Current,Interim
4,Technology Operations,Matthew Weaver,matthew.weaver@nike.com,NaN,2021-10-01,Current,Interim

In [24]:

tech_in = 'tech_domains-2.xlsx'
tech_df = pd.read_excel(tech_in)
tech_df = tech_df[tech_df['Last Found'] == 'Current']
# tech_df.describe()

In [25]:
header = {'content-type': 'application/json', 'accept': 'application/json'}
url_geo = 'https://snkrs.prod.commerce.nikecloud.com/globalization/marketplaces/v3'
r_geo = requests.get(url_geo, headers=header)
geo_data = json.loads(r_geo.content)

In [27]:
geo_df = pd.json_normalize(geo_data['objects'], 'marketplaceGroups', ['id', 'type', 'name', 'iso2Code', 'iso3Code'])
geo_df = geo_df.rename({0: 'marketplaceGroup'}, axis=1)
geo_df = geo_df[geo_df['marketplaceGroup'].str.contains('nikeGeo')]
geo_df = geo_df.set_index('id')
geo_df = geo_df.replace('', np.nan)
geo_df['Geo'] = geo_df['marketplaceGroup'].str.split(pat="-").str[1]
geo_df = geo_df.sort_values('id')

In [28]:
geo_df

   marketplaceGroup     type                  name iso2Code iso3Code   Geo
id
AE     nikeGeo-EMEA  COUNTRY  UNITED ARAB EMIRATES       AE      ARE  EMEA
AR     nikeGeo-APLA  COUNTRY             ARGENTINA       AR      ARG  APLA
AT     nikeGeo-EMEA  COUNTRY               AUSTRIA       AT      AUT  EMEA
AU     nikeGeo-APLA  COUNTRY             AUSTRALIA       AU      AUS  APLA
BE     nikeGeo-EMEA  COUNTRY               BELGIUM       BE      BEL  EMEA
..              ...      ...                   ...      ...      ...   ...
VN     nikeGeo-APLA  COUNTRY               VIETNAM       VN      VNM  APLA
XF     nikeGeo-EMEA   REGION                AFRICA      NaN      NaN  EMEA
XL     nikeGeo-APLA   REGION         LATIN AMERICA      NaN      NaN  APLA
XM     nikeGeo-EMEA   REGION           MIDDLE EAST      NaN      NaN  EMEA
ZA     nikeGeo-EMEA  COUNTRY          SOUTH AFRICA       ZA      ZAF  EMEA

[69 rows x 6 columns]

In [45]:

full_raw = raw.merge(lob_df, how='left', left_on=['user'], right_on=['mail'])
full_raw = full_raw.merge(geo_df, how='left', left_on=['short_country'], right_on=['id'])
full_raw = full_raw.merge(tech_df, how='left', left_on=['st'], right_on=['Email'])

In [46]:
full_raw.describe(include="all")

/var/folders/fw/p92hvc2d5tn3kgvhsxq_p5k40000gn/T/ipykernel_50770/664345594.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  full_raw.describe(include="all")

,eventdate,user,AppName,requestsize,request_gbs,responsesize,response_gbs,last,first,mail,...,iso2Code,iso3Code,Geo,Technology Team,ST,Email,Subdivision,First Found,Last Found,Notes
count,219434,219434,219434,2.194340e+05,219434.000000,2.194340e+05,219434.000000,203060,203060,203060,...,203001,203001,203001,34699,34699,34699,1168,28960,34699,27816
unique,1,35912,84,NaN,NaN,NaN,NaN,18000,10603,33203,...,48,48,4,14,72,72,6,10,1,7
top,2021-11-07 00:00:00,VeloCloud_SDWAN_Fabric->VeloCloud_SDWAN_Fabric...,General Browsing,NaN,NaN,NaN,NaN,Lee,Michael,asako.tsunashima@nike.com,...,US,USA,NA,Technology Operations,Emily White,emily.white@nike.com,APLA,2021-10-01 00:00:00,Current,Interim
freq,219434,44,35906,NaN,NaN,NaN,NaN,1405,1441,18,...,119995,119995,121368,8617,6732,6732,547,8697,34699,8697
first,2021-11-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-13 00:00:00,NaN,NaN
last,2021-11-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-10-01 00:00:00,NaN,NaN
mean,NaN,NaN,NaN,3.815949e+07,0.027977,1.178486e+08,0.068244,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,3.292269e+09,3.060851,5.350784e+09,4.976583,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,0.000000e+00,0.000000,0.000000e+00,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.483925e+04,0.000000,4.335825e+04,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,3.127330e+05,0.000000,1.023154e+06,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,2.602037e+06,0.000000,3.471924e+07,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,1.022980e+12,952.000000,1.879430e+12,1750.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
full_raw['Geo'].fillna('Unknown', inplace=True)
full_raw.loc[full_raw['mail'].isnull(), 'Geo'] = 'Unknown'
full_raw['Technology Team'].fillna('Unknown', inplace=True)
full_raw.loc[full_raw['mail'].isnull(), 'Technology Team'] = 'Unknown'
full_raw['mail'].fillna('Unknown', inplace=True)
# If an st exists but is not a Nike Technology st, use 'Non Technology'
full_raw.loc[(full_raw['st'].notnull() & full_raw['Email'].isnull()), 'Technology Team'] = 'Non Technology'

In [48]:

# Geos
geo_lst = full_raw['Geo'].unique()
geo_lst = np.append(geo_lst, "Total")  # Add 'Total' as a possible geo

In [49]:
geo_lst

array(['Unknown', 'NA', 'APLA', 'EMEA', 'GC', 'Total'], dtype=object)

In [50]:
list(full_raw.columns)

['eventdate',
 'user',
 'AppName',
 'requestsize',
 'request_gbs',
 'responsesize',
 'response_gbs',
 'last',
 'first',
 'mail',
 'proxy_addresses',
 'path',
 'title',
 'department',
 'samaccountname',
 'employeetype',
 'country',
 'short_country',
 'country_code',
 'whencreated',
 'firstlast',
 'net',
 'exec',
 'st',
 'manager',
 'marketplaceGroup',
 'type',
 'name',
 'iso2Code',
 'iso3Code',
 'Geo',
 'Technology Team',
 'ST',
 'Email',
 'Subdivision',
 'First Found',
 'Last Found',
 'Notes']

In [51]:
['eventdate', 'user', 'AppName', 'requestsize', 'responsesize', 'country', 'Geo', 'st', 'Technology Team']

['eventdate',
 'user',
 'AppName',
 'requestsize',
 'responsesize',
 'country',
 'Geo',
 'st',
 'Technology Team']

In [52]:

# Keep only these columns
# full_raw = full_raw[['eventdate', 'recipient', 'eventType', 'classification', 'threatsInfoMap_classification_str',
#                      'GUID', 'mail', 'country', 'Geo', 'Email', 'st', 'Technology Team']]

full_raw = full_raw[['eventdate', 'user', 'mail', 'AppName', 'requestsize', 'responsesize', 'country', 'Geo', 'st', 'Technology Team']
]

In [75]:
emptymail = full_raw[full_raw['mail'] == 'Unknown'  ]
emptymail = emptymail[~emptymail['user'].str.contains("@")]

In [ ]:
emptymail = full_raw[full_raw['mail'] == 'Unknown'  ]
emptymail_2 = emptymail[emptymail['user'].str.contains("@")]

In [1]:
emptymail

NameError: name 'emptymail' is not defined

In [76]:
emptymail['user'].value_counts()

VeloCloud_SDWAN_Fabric->VeloCloud_SDWAN_Fabric-Guest_and_DE_Networks    44
VeloCloud_SDWAN_Fabric->other                                           40
WHQ - MS & MH Prod->other                                               39
WHQ - MS & MH Prod->WHQ AirGuest                                        39
CORP_BELGIUM_ELC_LAAKDAL_1                                              34
                                                                        ..
NNCTRAC                                                                  1
RTEM00567                                                                1
RTEM00676                                                                1
RTEM00978                                                                1
NLR6414->other                                                           1
Name: user, Length: 174, dtype: int64

In [77]:
full_raw.head()

,eventdate,user,mail,AppName,requestsize,responsesize,country,Geo,st,Technology Team
0,2021-11-07,Beijing hub,Unknown,Baidu Cloud,22773.0,1.176200e+05,NaN,Unknown,NaN,Unknown
1,2021-11-07,Beijing hub,Unknown,Box,10889.0,2.957350e+05,NaN,Unknown,NaN,Unknown
2,2021-11-07,Beijing hub,Unknown,General Browsing,42165423.0,1.199140e+09,NaN,Unknown,NaN,Unknown
3,2021-11-07,Beijing hub,Unknown,Microsoft Teams,93806.0,7.028380e+05,NaN,Unknown,NaN,Unknown
4,2021-11-07,Beijing hub,Unknown,Sharepoint Online,452.0,7.413000e+03,NaN,Unknown,NaN,Unknown

In [79]:

full_raw['Geo'].fillna('Unknown', inplace=True)
full_raw.loc[full_raw['mail'].isnull(), 'Geo'] = 'Unknown'
full_raw['Technology Team'].fillna('Unknown', inplace=True)
full_raw.loc[full_raw['mail'].isnull(), 'Technology Team'] = 'Unknown'
full_raw['mail'].fillna('Unknown', inplace=True)
# If an st exists but is not a Nike Technology st, use 'Non Technology'
full_raw.loc[(full_raw['st'].notnull() & full_raw['mail'].isnull()), 'Technology Team'] = 'Non Technology'

In [81]:
full_raw.loc[(full_raw['st'].notnull() & full_raw['user'].isnull())]

Empty DataFrame
Columns: [eventdate, user, mail, AppName, requestsize, responsesize, country, Geo, st, Technology Team]
Index: []

In [82]:

# Slice lists

# Geos
geo_lst = full_raw['Geo'].unique()
geo_lst = np.append(geo_lst, "Total")  # Add 'Total' as a possible geo

# Tech domains
dom_lst = full_raw['Technology Team'].unique()
dom_lst = np.append(dom_lst, "Total")  # Add 'Total' as a possible domain

# Affiliation
aff_lst = np.array(['Converse', 'Nike Exclusive', 'Total'])

# Time aggregation
time_val = [['Day', 1], ['Week', 7], ['Month', 30], ['Quarter', 90], ['Year', 365]]
time_df = pd.DataFrame(time_val, columns=['agg', 'val'])
time_df = time_df.set_index('agg')
time_lst = time_df.index


# Set index from lists of all slices
index = pd.MultiIndex.from_product([time_lst, geo_lst, dom_lst, aff_lst],
                                   names=['Time Agg', 'Geo', 'Tech Domain', 'Affiliation'])

In [84]:

# Initialize series
request_size_s = pd.Series(index=index, name='Request Size', dtype='int')
response_size_s = pd.Series(index=index, name='Response Size', dtype='int')

In [88]:
 ato_t = full_raw

t = "Day"

 for g in geo_lst:
    # All geos combined
    if g == 'Total':
        ato_g = ato_t
    # Filter the data set to the appropriate Geo
    else:
        ato_g = ato_t[ato_t['Geo'] == g]
    # For each Tech domain slice
    for d in dom_lst:
        # All domains combined
        if d == 'Total':
            ato_d = ato_g
        # Filter the data set to the appropriate domain
        else:
            ato_d = ato_g[ato_g['Technology Team'] == d]
        # For each Affiliate slice
        for a in aff_lst:
            # All affiliates combined
            if a == 'Total':
                ato_a = ato_d
            # Converse affiliate
            elif a == 'Converse':
                ato_a = ato_d[ato_d['mail'].str.endswith('converse.com')]
            # Everything not Converse - Nike Exclusive
            else:
                ato_a = ato_d[~ato_d['mail'].str.endswith('converse.com')]

            # Records of requested bytes
            request_size_a = ato_a["requestsize"].sum()


            # Records of bytes that were allowed in response
            response_size_a = ato_a["responsesize"].sum()



            # Populate series
            request_size_s.loc[(t, g, d, a)] = request_size_a  # All requested bytes
            response_size_s.loc[(t, g, d, a)] = request_size_a  # All bytes allowed as response

In [ ]:
for t in time_lst:
    # logger.info(f'Aggregating by {t}...')
    length = int(time_df.loc[(t, 'val')])
    # Set end time for aggregation as the beginning of the day after the latest day in the data
    end_date = latest_time.date() + dt.timedelta(days=1)
    end_time = dt.datetime.combine(end_date, dt.datetime.min.time())
    # Set the start time for aggregation to a set number of days before the end time, depending on the aggregation
    start_time = end_time - dt.timedelta(days=length)
    # Filter the data set to the appropriate time aggregation
    ato_t = full_raw[(full_raw['eventdate'] >= start_time) & (full_raw['eventdate'] < end_time)]

    for g in geo_lst:
        # All geos combined
        if g == 'Total':
            ato_g = ato_t
        # Filter the data set to the appropriate Geo
        else:
            ato_g = ato_t[ato_t['Geo'] == g]
        # For each Tech domain slice
        for d in dom_lst:
            # All domains combined
            if d == 'Total':
                ato_d = ato_g
            # Filter the data set to the appropriate domain
            else:
                ato_d = ato_g[ato_g['Technology Team'] == d]
            # For each Affiliate slice
            for a in aff_lst:
                # All affiliates combined
                if a == 'Total':
                    ato_a = ato_d
                # Converse affiliate
                elif a == 'Converse':
                    ato_a = ato_d[ato_d['mail'].str.endswith('converse.com')]
                # Everything not Converse - Nike Exclusive
                else:
                    ato_a = ato_d[~ato_d['mail'].str.endswith('converse.com')]

                # Records of requested bytes
                request_size_a = ato_a["requestsize"].sum()


                # Records of bytes that were allowed in response
                response_size_a = ato_a["responsesize"].sum()



                # Populate series
                request_size_s.loc[(t, g, d, a)] = request_size_a  # All requested bytes
                response_size_s.loc[(t, g, d, a)] = request_size_a  # All bytes allowed as response

In [101]:
agg_df.dtypes

Request Size       int64
Response Size      int64
Response GB      float64
Request GB       float64
dtype: object

In [99]:
# logger.info('Creating metrics dataframe...')
agg_df = pd.concat([request_size_s, response_size_s], axis=1)
agg_df['Response GB'] = agg_df['Response Size']/1024/1024/1024
agg_df['Request GB'] = agg_df['Request Size']/1024/1024/1024

In [100]:
agg_df

                                                                         Request Size  \
Time Agg Geo     Tech Domain                            Affiliation
Day      Unknown Unknown                                Converse                    0
                                                        Nike Exclusive  4964933385179
                                                        Total           4964933385179
                 Non Technology                         Converse                    0
                                                        Nike Exclusive       92176422
...                                                                               ...
Year     Total   Product Innovation & Consumer Creation Nike Exclusive              0
                                                        Total                       0
                 Total                                  Converse                    0
                                                        Nike Exclusive              0
                                                        Total                       0

                                                                        Response Size  \
Time Agg Geo     Tech Domain                            Affiliation
Day      Unknown Unknown                                Converse                    0
                                                        Nike Exclusive  4964933385179
                                                        Total           4964933385179
                 Non Technology                         Converse                    0
                                                        Nike Exclusive       92176422
...                                                                               ...
Year     Total   Product Innovation & Consumer Creation Nike Exclusive              0
                                                        Total                       0
                 Total                                  Converse                    0
                                                        Nike Exclusive              0
                                                        Total                       0

                                                                        Response GB  \
Time Agg Geo     Tech Domain                            Affiliation
Day      Unknown Unknown                                Converse           0.000000
                                                        Nike Exclusive  4623.954543
                                                        Total           4623.954543
                 Non Technology                         Converse           0.000000
                                                        Nike Exclusive     0.085846
...                                                                             ...
Year     Total   Product Innovation & Consumer Creation Nike Exclusive     0.000000
                                                        Total              0.000000
                 Total                                  Converse           0.000000
                                                        Nike Exclusive     0.000000
                                                        Total              0.000000

                                                                         Request GB
Time Agg Geo     Tech Domain                            Affiliation
Day      Unknown Unknown                                Converse           0.000000
                                                        Nike Exclusive  4623.954543
                                                        Total           4623.954543
                 Non Technology                         Converse           0.000000
                                                        Nike Exclusive     0.085846
...                                                                             ...
Year     Total   Product Innovation & Consumer Creation Nike Exclusive     0.000000
                                                        Total              0.000000
                 Total                                  Converse           0.000000
                                                        Nike Exclusive     0.000000
                                                        Total              0.000000

[1530 rows x 4 columns]

In [95]:
agg_df.to_csv("Agg_test.csv")

In [ ]:

# Download and clean ATO data

# Download ATO data from S3
# logger.info('Getting ATO data...')
# ato_f = f'metrics/devo/query_results/full_ato_data.csv'
# ato_df = s3_download(ato_f)
raw_df = pd.read_csv("afss_agg.csv")
# Fill null values in classification and threatsInfoMap_classification_str columns
# ato_df['classification'].fillna('nothing', inplace=True)
# ato_df['threatsInfoMap_classification_str'].fillna('nothing', inplace=True)

# Filter out rows where classification or threatsInfoMap_classification_str does not contain 'phish'
# ato_df = ato_df[(ato_df['classification'].str.lower().str.contains('phish')) |
#                 (ato_df['threatsInfoMap_classification_str'].str.lower().str.contains('phish'))]

raw_df = raw_df[]

# Make all event types lower case
# ato_df['eventType'] = ato_df['eventType'].str.lower()

# Make date field datetime objects
raw_df['eventdate'] = pd.to_datetime(afss_df['eventdate'])

latest_time = raw_df['eventdate'].max()
earliest_time = raw_df['eventdate'].min()

# Sanity check to make sure min and max of datetimes are within expected range
# logger.info(f'Oldest Date : {earliest_time}')
# logger.info(f'Newest Date : {latest_time}')

# Download LOB data from S3
# logger.info('Getting LOB data...')

# Use commented out version for online script
# lob_f = f'lob_map/lob_map.xlsx'
# lob_df = s3_download(lob_f, sheet='LOB Map')

lob_df = pd.read_excel('lob_map.xlsx')

# Download Tech Domains data from Box
# logger.info('Getting Tech Domains data...')

# Use commented out version for online script
# tech_f = f'tech_domains.xlsx'
# tech_folder = f'/CIS Governance/Metrics/Data/MANAGE GRC/lob_map/'
# tech_r = box_download(tech_f, tech_folder, 5)
# tech_in = io.BytesIO(tech_r.content)
tech_in = 'tech_domains-2.xlsx'
tech_df = pd.read_excel(tech_in)
tech_df = tech_df[tech_df['Last Found'] == 'Current']

# Download and clean Geo data

# Get Geo data from API
# logger.info('Getting Geo data...')
header = {'content-type': 'application/json', 'accept': 'application/json'}
url_geo = 'https://snkrs.prod.commerce.nikecloud.com/globalization/marketplaces/v3'
r_geo = requests.get(url_geo, headers=header)
geo_data = json.loads(r_geo.content)
# logger.info('Geo data downloaded.')
# Convert json to dataframe and move Geo data to a new column
geo_df = pd.json_normalize(geo_data['objects'], 'marketplaceGroups', ['id', 'type', 'name', 'iso2Code', 'iso3Code'])
geo_df = geo_df.rename({0: 'marketplaceGroup'}, axis=1)
geo_df = geo_df[geo_df['marketplaceGroup'].str.contains('nikeGeo')]
geo_df = geo_df.set_index('id')
geo_df = geo_df.replace('', np.nan)
geo_df['Geo'] = geo_df['marketplaceGroup'].str.split(pat="-").str[1]
geo_df = geo_df.sort_values('id')

# Merge data sources
# logger.info('Merging Data sources...')
full_ato = ato_df.merge(lob_df, how='left', left_on=['recipient'], right_on=['mail'])
full_ato = full_ato.merge(geo_df, how='left', left_on=['short_country'], right_on=['id'])
full_ato = full_ato.merge(tech_df, how='left', left_on=['st'], right_on=['Email'])

# Keep only these columns
full_ato = full_ato[['eventdate', 'recipient', 'eventType', 'classification', 'threatsInfoMap_classification_str',
                     'GUID', 'mail', 'country', 'Geo', 'Email', 'st', 'Technology Team']]

# Fill null values of Geo and Tech domain with the appropriate values
# logger.info('Categorizing Unknowns...')
full_ato['Geo'].fillna('Unknown', inplace=True)
full_ato.loc[full_ato['mail'].isnull(), 'Geo'] = 'Unknown'
full_ato['Technology Team'].fillna('Unknown', inplace=True)
full_ato.loc[full_ato['mail'].isnull(), 'Technology Team'] = 'Unknown'
full_ato['mail'].fillna('Unknown', inplace=True)
# If an st exists but is not a Nike Technology st, use 'Non Technology'
full_ato.loc[(full_ato['st'].notnull() & full_ato['Email'].isnull()), 'Technology Team'] = 'Non Technology'

# Remove duplicate rows
full_ato = full_ato.drop_duplicates(subset=['eventType', 'GUID', 'eventdate', 'recipient'])

# Slice lists

# Geos
geo_lst = full_ato['Geo'].unique()
geo_lst = np.append(geo_lst, "Total")  # Add 'Total' as a possible geo

# Tech domains
dom_lst = full_ato['Technology Team'].unique()
dom_lst = np.append(dom_lst, "Total")  # Add 'Total' as a possible domain

# Affiliation
aff_lst = np.array(['Converse', 'Nike Exclusive', 'Total'])

# Time aggregation
time_val = [['Day', 1], ['Week', 7], ['Month', 30], ['Quarter', 90], ['Year', 365]]
time_df = pd.DataFrame(time_val, columns=['agg', 'val'])
time_df = time_df.set_index('agg')
time_lst = time_df.index

# Set index from lists of all slices
index = pd.MultiIndex.from_product([time_lst, geo_lst, dom_lst, aff_lst],
                                   names=['Time Agg', 'Geo', 'Tech Domain', 'Affiliation'])

# Initialize series
clicks_allowed_s = pd.Series(index=index, name='Clicks Permitted', dtype='int')
all_clicks_s = pd.Series(index=index, name='All Clicks', dtype='int')
emails_s = pd.Series(index=index, name='Targeted Emails', dtype='int')
del_emails_s = pd.Series(index=index, name='Emails Delivered', dtype='int')
start_time_s = pd.Series(index=index, name='Start Time', dtype='object')
end_time_s = pd.Series(index=index, name='End Time', dtype='object')

# For each time aggregation
for t in time_lst:
    # logger.info(f'Aggregating by {t}...')
    length = int(time_df.loc[(t, 'val')])
    # Set end time for aggregation as the beginning of the day after the latest day in the data
    end_date = latest_time.date() + dt.timedelta(days=1)
    end_time = dt.datetime.combine(end_date, dt.datetime.min.time())
    # Set the start time for aggregation to a set number of days before the end time, depending on the aggregation
    start_time = end_time - dt.timedelta(days=length)
    # Filter the data set to the appropriate time aggregation
    ato_t = full_ato[(full_ato['eventdate'] >= start_time) & (full_ato['eventdate'] < end_time)]
    # For each Geo slice
    for g in geo_lst:
        # All geos combined
        if g == 'Total':
            ato_g = ato_t
        # Filter the data set to the appropriate Geo
        else:
            ato_g = ato_t[ato_t['Geo'] == g]
        # For each Tech domain slice
        for d in dom_lst:
            # All domains combined
            if d == 'Total':
                ato_d = ato_g
            # Filter the data set to the appropriate domain
            else:
                ato_d = ato_g[ato_g['Technology Team'] == d]
            # For each Affiliate slice
            for a in aff_lst:
                # All affiliates combined
                if a == 'Total':
                    ato_a = ato_d
                # Converse affiliate
                elif a == 'Converse':
                    ato_a = ato_d[ato_d['mail'].str.endswith('converse.com')]
                # Everything not Converse - Nike Exclusive
                else:
                    ato_a = ato_d[~ato_d['mail'].str.endswith('converse.com')]

                # Records of clicked emails
                all_clicks_a = ato_a[(ato_a['eventType'] == 'clickspermitted') |
                                     (ato_a['eventType'] == 'clicksblocked')]
                # Records of clicked emails that were allowed to proceed
                clicks_allowed_a = ato_a[ato_a['eventType'] == 'clickspermitted']
                # Records of all emails delivered to recipients
                emails_delivered_a = ato_a[~(ato_a['eventType'] == 'messagesblocked')]

                # Populate series
                all_clicks_s.loc[(t, g, d, a)] = len(all_clicks_a)  # All clicked emails
                clicks_allowed_s.loc[(t, g, d, a)] = len(clicks_allowed_a)  # All clicked emails allowed to proceed
                emails_s.loc[(t, g, d, a)] = len(ato_a)  # All targeted emails
                del_emails_s.loc[(t, g, d, a)] = len(emails_delivered_a)  # All delivered emails
                start_time_s.loc[(t, g, d, a)] = start_time  # Start time for aggregation
                end_time_s.loc[(t, g, d, a)] = end_time  # End time for aggregation

# logger.info('Creating metrics dataframe...')
agg_df = pd.concat([all_clicks_s, clicks_allowed_s, emails_s, del_emails_s, start_time_s, end_time_s], axis=1)

# ATO Metric - The % of targeted phishing emails clicked by users and permitted by Proofpoint
agg_df['ATO Metric'] = 100*(clicks_allowed_s / emails_s)
agg_df.loc[agg_df['ATO Metric'].isnull(), 'ATO Metric'] = 0.0
agg_df['ATO Metric'] = agg_df['ATO Metric'].map('{:,.2f}%'.format)

# User performance metric - The % of phishing emails delivered to recipients that were clicked
agg_df['User Metric'] = 100*(all_clicks_s / del_emails_s)
agg_df.loc[agg_df['User Metric'].isnull(), 'User Metric'] = 0.0
agg_df['User Metric'] = agg_df['User Metric'].map('{:,.2f}%'.format)

# Date report was built
agg_df['Report Date'] = dt.date.today()

# Download historical data from Box
box_ato_down = '/CIS Governance/Metrics/Data/DETECT AND RESPOND TO MALICIOUS ACTIVITY/ATO/'
ato_hist_f = 'ato_agg.csv'
ato_hist_r = box_download(ato_hist_f, box_ato_down, 5)
ato_hist_in = io.StringIO(ato_hist_r.text)
ato_hist_df = pd.read_csv(ato_hist_in)
ato_hist_df = ato_hist_df.set_index(['Time Agg', 'Geo', 'Tech Domain', 'Affiliation'])

# Check to see when the historical metrics data was last updated
last_run = pd.to_datetime(ato_hist_df['Report Date']).dt.date.max()
time_since_last = (dt.date.today() - last_run) / dt.timedelta(days=1)
# logger.info(f'{time_since_last} days since last update')
# If it hasn't been updated today, append today's metrics to the historical data and upload
if time_since_last >= 1:
    ato_hist_df = ato_hist_df.append(agg_df)
    ato_hist_df.to_csv(ato_hist_f)
    # logger.info(f'Appending to metrics history files...')
    box_ato_up = 'CIS Governance/Metrics/Data/DETECT AND RESPOND TO MALICIOUS ACTIVITY/ATO/'
    box_upload(ato_hist_f, box_ato_up, 5)
# If it has been updated today, don't append or upload
else:
    # logger.warning(f'Metrics history up to date')